div {
	display: inline-block;
	border: 3px solid black;
	text-align: center;
	margin: 0 auto;
}
input {
	text-align: right;
	height: 40px;
	font-size: 20px
}
h1 {
	color: rgba(2,132,130,1);
	text-decoration: underline;
}
h2 {
	color: rgba(150,50,100,1);
}
h3 {
	color: rgba(255,0,0,1);
}
h1, h2, p, h3 {
	text-align: center;
}
body {
	background-color: rgba(0,0,200,.2);
}
main {
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
}